@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;0,800;1,400;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;0,700;1,400&display=swap');

body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background: #f5f5f5;
    box-sizing: border-box;
}
:root{
    --main-color: #483D8B;
}

.container{
    display: grid;
    grid-template-columns: repeat(20, 5vw);
    grid-auto-rows: 5vh;
    width: 100vw;
    height: 100vh;
}
.menu{
    grid-column: 1/5;
    grid-row: 1/21;
    position: -webkit-sticky; 
    position: sticky;
    top: 0;
}
.header{
    grid-column: 4/21;
    grid-row: 1/4;
    background: #F4F6F7;
}
.body_dash{
    grid-column: 4/21;
    grid-row: 4/21;
    background: #F4F6F7;
}
