:root{
    --main-color:#483D8B;
    --light-color: #F6EBFF;
    --softer-color: #FBF8FF;
}
body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#container{
    position: relative;
}
#menu{
    position: absolute;
    display: grid;
    grid-template-columns: repeat(10,10vw);
    justify-items: center;
    align-items: center;
    font-size: 1.5rem;
    margin-top: 20px;
}
#menu a{
    text-decoration: none;
    color: white;
}
#menu a img{
    width: 120px;
    height: 80px;
}
.item:nth-child(2){
    grid-column: 6/7;
}
.item:nth-child(3){
    grid-column: 7/8;
}
.item:nth-child(4){
    grid-column: 8/9;
}
.item:nth-child(5){
    grid-column: 9/11;
    background: var(--main-color);
    padding: 15px;
    border-radius: 10px;
}
.assistant{
    background: var(--main-color);
    width: 80px;
    height: 80px;
    border-radius: 50%;
    display: grid;
    justify-items: center;
    align-items: center;
    position: absolute;
    position: fixed;
    right: 40px;
    top: 85vh;
    cursor: pointer;
    transform: scale(0.9);
    transition: all 0.7s;
}
.assistant:hover{
    transform: scale(1);
}